@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5gajjh');
  src:  url('fonts/icomoon.eot?5gajjh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5gajjh') format('truetype'),
    url('fonts/icomoon.woff?5gajjh') format('woff'),
    url('fonts/icomoon.svg?5gajjh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-woogool-unlock:before {
  content: "\e90c";
}
.icon-woogool-check-circle:before {
  content: "\e919";
}
.icon-woogool-capability:before {
  content: "\e91c";
  color: #ccc;
}
.icon-woogool-integration:before {
  content: "\e932";
  color: #ccc;
}
.icon-woogool-switch-project:before {
  content: "\e931";
  color: #9ea3a7;
}
.icon-woogool-enter:before {
  content: "\e92e";
  color: #5d5d5d;
}
.icon-woogool-navigation:before {
  content: "\e92f";
  color: #5d5d5d;
}
.icon-woogool-invoice:before {
  content: "\e92d";
}
.icon-woogool-gantchart:before {
  content: "\e930";
  color: #c9c9c9;
}
.icon-woogool-activity:before {
  content: "\e92c";
  color: #c9c9c9;
}
.icon-woogool-search:before {
  content: "\e92b";
  color: #95a5a6;
}
.icon-woogool-settings:before {
  content: "\e92a";
  color: #c9c9c9;
}
.icon-woogool-task-count:before {
  content: "\e926";
  color: #d6d6d6;
}
.icon-woogool-comment:before {
  content: "\e927";
  color: #d6d6d6;
}
.icon-woogool-left-arrow:before {
  content: "\e928";
  color: #95a5a6;
}
.icon-woogool-move:before {
  content: "\e929";
  color: #d7dee2;
}
.icon-woogool-drag-drop:before {
  content: "\e923";
  color: #d7dee2;
}
.icon-woogool-kanboard-view:before {
  content: "\e924";
  color: #d7dee2;
}
.icon-woogool-list-view:before {
  content: "\e925";
  color: #1a9ed4;
}
.icon-woogool-task-filter:before {
  content: "\e922";
  color: #fff;
}
.icon-woogool-file:before {
  content: "\e91e";
  color: #f39c12;
}
.icon-woogool-mileston:before {
  content: "\e91f";
  color: #9b59b6;
}
.icon-woogool-discussion:before {
  content: "\e920";
  color: #1abc9c;
}
.icon-woogool-task-list:before {
  content: "\e921";
  color: #e9485e;
}
.icon-woogool-overview:before {
  content: "\e91d";
  color: #3b80f4;
}
.icon-woogool-archive:before {
  content: "\e91b";
}
.icon-woogool-copy-files:before {
  content: "\e918";
}
.icon-woogool-undo-arrow:before {
  content: "\e91a";
}
.icon-woogool-cross:before {
  content: "\e917";
  color: #e9485e;
}
.icon-woogool-single-user:before {
  content: "\e916";
  color: #d4d6d6;
}
.icon-woogool-up-arrow:before {
  content: "\e915";
  color: #788383;
}
.icon-woogool-stop:before {
  content: "\e914";
}
.icon-woogool-rigth-arrow:before {
  content: "\e912";
  color: #d4d6d6;
}
.icon-woogool-play:before {
  content: "\e913";
  color: #d4d6d6;
}
.icon-woogool-copy:before {
  content: "\e903";
  color: #d4d6d6;
}
.icon-woogool-private:before {
  content: "\e902";
  color: #d4d6d6;
}
.icon-woogool-delete:before {
  content: "\e901";
  color: #e9485e;
}
.icon-woogool-user:before {
  content: "\e900";
  color: #ababab;
}
.icon-woogool-align-left:before {
  content: "\e904";
  color: #d6d6d6;
}
.icon-woogool-calendar:before {
  content: "\e905";
  color: #d4d6d6;
}
.icon-woogool-clip:before {
  content: "\e906";
  color: #d4d6d6;
}
.icon-woogool-completed:before {
  content: "\e907";
  color: #7ed321;
}
.icon-woogool-down-arrow:before {
  content: "\e908";
  color: #ccd4d9;
}
.icon-woogool-incomplete:before {
  content: "\e909";
  color: #d6d6d6;
}
.icon-woogool-more-options:before {
  content: "\e90a";
  color: #d6d6d6;
}
.icon-woogool-pencil:before {
  content: "\e90b";
  color: #d6d6d6;
}
.icon-woogool-smile:before {
  content: "\e90d";
  color: #d4d6d6;
}
.icon-woogool-sorting:before {
  content: "\e90e";
  color: #d4d6d6;
}
.icon-woogool-star:before {
  content: "\e90f";
  color: #d6d6d6;
}
.icon-woogool-tag:before {
  content: "\e910";
  color: #d4d6d6;
}
.icon-woogool-watch:before {
  content: "\e911";
  color: #d4d6d6;
}
.icon-woogool-eye:before {
  content: "\e9ce";
}
.icon-woogool-loop:before {
  content: "\ea2e";
}
.icon-woogool-filter:before {
  content: "\ea5b";
}





.woogool-clearfix {
    visibility: hidden;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}



.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    //width: 120px;
    background-color: black;
    color: #fff;
    //text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}



.woogool-help-tip:after {
    font-family: Dashicons;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    margin: 0;
    text-indent: 0;
    //position: absolute;
    top: 0;
    
    width: 100%;
    height: 100%;
    text-align: center;
    content: "";
    cursor: help;
    
}
.woogool-help-tip {
	position: relative;
	left: 53%;
	font-size: 15px;
	top: 5px;
}


input[type="checkbox"], input[type="radio"] {
	width: 16px !important;
}
.woogool-form textarea,
.woogool-form input,
.woogool-form select
{
	float: left;
	width: 30%;
}
.woogool-form label {
	width: 24%;
	float: left;
}
.woogool-clear {
	clear: both;
}
.woogool-form .woogool-form-field {
	display: inline-block;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.woogool-form .woogool-form-field input {
	height: 34px;
}
.woogool-form .woogool-form-field label {
	font-size: 15px;
	font-weight: bold;
}
.woogool-form .description {
	display: inline-block;
	width: 70%;
}
.woogool-form .description {
	margin-left: 24%;
}
.woogool-form input[type="submit"] {
	width: auto;
}
.woogool-form input[type="checkbox"] {
	width: 14px;
	height: 14px;
}
.woogool-form input[type="submit"] {
	float: none;
	margin-top: 10px;
}
.woogool-form .woogool-more-field, .woogool-form .woogool-remove-more {
	cursor: pointer;
}
.woogool-form em, .woogool-feed-form em  {
	color: red;
}
.woogool-form .woogool-notification {
	position: absolute;
	left: 55%;
	top: 6%;
	color: red;
}
.woogool-form .woogool-more-field {
	background: #2ea2cc;
    color: #fff;
    height: 16px;
	left: 52.8%;
    position: absolute;
    text-align: center;
    top: 2px;
    width: 13px;
}
.woogool-form .woogool-remove-more {
	background: #2ea2cc;
    color: #fff;
    height: 16px;
    left: 51.5%;
    position: absolute;
    text-align: center;
    top: 2px;
    width: 13px;
}
.woogool-form-wrap {
	background: #fff;
	padding: 10px;
}
.woogool-form .woogool-product-field-child-wrap {
	width: 98%;
}
.woogool-form .woogool-form-part, .woogool-form .woogool-product-field-child-wrap {
	background: #f7f7f7;
	padding: 10px;
}
.woogool-product-info {
	margin-top: 9px;
}
.woogool-spinner {
	background: url( 'images/loading.gif' ) no-repeat;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.woogool-submit-notification {
	padding: 7px !important;
}
.woogool-error-code {
	color: red;
}
.woogool-nav-tab-wrap {
	margin-bottom: 10px !important;
}

.postbox .postbox-title {
	margin: 0;
	padding: 8px 12px;
	border-bottom: 1px solid #eee;
}

.woogool-feed-form-content {
	padding: 8px 12px;
}


.woogool-feed-form-content .woogool-field
{
	float: left;
	width: 30%;
}
.woogool-feed-form-content label  {
	width: 24%;
	float: left;
}

.woogool-feed-form-content .woogool-form-field {
	display: inline-block;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

.woogool-feed-form-content .description {
	display: inline-block;
	width: 70%;
}
.woogool-feed-form-content .description {
	margin-left: 24%;
}


.woogool .woogool-sub-nav {
	background: #FFFFFF;
    border-color: #CCCCCC;
    border-image: none;
    border-right: 1px solid #CCCCCC;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    color: #898989;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 5px 20px;
    position: relative;
}
.woogool .woogool-sub-nav .woogool-subsubsub {
	margin: 0;
	padding: 0;
}
.woogool .woogool-sub-nav .woogool-subsubsub li {
	display: inline-block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.woogool .woogool-sub-nav .woogool-subsubsub li a {
	text-decoration: none;
	padding: 0 5px;
}
.woogool .woogool-sub-nav .woogool-subsubsub li:first-child a {
	padding-left: 0;
}
.woogool .woogool-sub-nav .woogool-subsubsub li .woogool-sub-current {
	font-weight: 600;
    color: #000000;
}
.woogool-hidden {
	display: none;
}
.woogool-feed-form .woogool-spinner {

	background: url( 'images/loading.gif' ) no-repeat;
	height: 16px;
	display: inline-block;
	margin: 8px 0 0 15px;
	background-position: 28%;
	width: 80%;
}
.woogool-category-map-wrap .woogool-google-cat-ul {
	//left: 24%;
    //position: relative;
    //ui-bg_highlight-soft_75_cccccc_1x100.png
}
.woogool-category-map-wrap .woogool-google-cat-ul .woogool-cat-map-li .woogool-form-field {
	margin: 0;
}
.woogool-category-map-wrap .woogool-google-cat-ul .woogool-cat-map-li .woogool-cat-title {
	float: left;
	width: 24%;
}
.woogool-category-map-wrap .woogool-google-cat-ul .woogool-cat-map-li .woogool-cat-dropdown {
	float: left;
}

.woogool-category-map-wrap .woogool-google-cat-ul .woogool-cat-map-li .description {
    margin-left: 0px;
}
.woogool-notice {
    background: #fff;
    border-left: 4px solid #fff;
    box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
    margin: 5px 0px 0px;
    padding: 8px 12px;
}

.woogool-warning {
    border-left-color: #ffb900;
}

.woogool-link {
    text-decoration: none;
}


.woogool .loadmoreanimation .load-spinner {
  margin: 10px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}
.woogool .loadmoreanimation .load-spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.woogool .loadmoreanimation .load-spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.woogool .loadmoreanimation .load-spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.woogool .loadmoreanimation .load-spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.woogool .loadmoreanimation .load-spinner > div {
  background-color: #ccc;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}


